<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tassioauad.pedometro">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".PedometroApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAUvpvX5j2KDe3OqSJscGJDpPVq21yD99o" />

        <activity android:name=".view.activity.HomeActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.MeasurementActivity" />

        <service android:name=".model.api.impl.ActivityRecognizerImpl$ActivityRecognitionIntentService"></service>
        <service android:name=".model.service.TrackingService"></service>

    </application>

</manifest>
